.products-nav {
  background-color: rgba(89, 181, 71, 1);
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.2s;
}

.products-nav:hover {
  background-color: rgb(143, 199, 131);
  color: white;
}

/* HERO SECTION ITERATION */
.home-hero-section {
  justify-items: center;
  max-width: 50rem;
  margin-inline: 1.5rem;
}

.driver-wrapper-container {
  background-image: url(https://res.cloudinary.com/dgx8jcnmq/image/upload/v1746561681/protaxi-asset/driver-image-asset/drivers-pattern_pv1r0f.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header-two {
  color: rgba(25, 27, 24, 1);
  width: 100%;
}

.hero-header-body {
  font-size: 1.25rem;
  color: rgba(100, 108, 96, 1);
  width: 100%;
}

/* BODY SECTION ITERATION - SECOND */
.dr-second-section {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-block: 5rem 7rem;
}

/* .rd-content-main-container {
  display: grid;
  gap: 2rem;
} */

.dr-main-header {
  font-weight: bold;
  font-size: 2.75rem;
  color: rgba(25, 27, 24, 1);
  margin-block-end: 1.5rem;
}

.dr-main-body {
  font-size: 1.25rem;
  color: rgba(100, 108, 96, 1);
  margin-block-end: 1.5rem;
}

.dr-eco-alignment {
  display: grid;
  gap: 2rem;
  margin-block-end: 1.5rem;
}

.dr-eco-main {
  display: grid;
  gap: 1rem;
}

.dr-eco-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.dr-header {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(25, 27, 24, 1);
  margin-block-end: 0.5rem;
}

.dr-body {
  color: rgba(100, 108, 96, 1);
}

.driver-image-container {
  max-width: 30.5rem;
}

.driver-image {
  width: 100%;
}

/* THIRD SECTION ITERATION */
.dr-third-section {
  display: grid;
  gap: 2rem;
  background-color: rgba(25, 27, 24, 1);
  padding: 4.375rem 3.75rem;
  border: 0.02rem solid rgba(50, 54, 48, 1);
  border-radius: 2.563rem;
  margin-block-end: 7rem;
}

.dr-third-section-container {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.dr-third-header {
  color: white;
  font-weight: bold;
  font-size: 2.75rem;
}

.dr-third-body {
  color: rgba(151, 159, 147, 1);
  font-size: 1.25rem;
}

.dr-td-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.dr-third-content-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  margin-block-end: 0.5rem;
}

.green-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(89, 181, 71, 1);
  border-radius: 5rem;
}

.dr-td-header {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.dr-td-body {
  color: rgba(203, 207, 201, 1);
  margin-block-end: 1.5rem;
  margin-inline-start: 1rem;
}

.horizontal-image {
  width: 100%;
}