@media (max-width: 800px) {
  .rd-second-section,
  .rd-eco-container {
    grid-template-columns: none;
  }

  .rd-second-section {
    gap: 2rem;
    margin-block: 2rem 4rem;
  }

  .rider-image-container {
    max-width: 100%;
  }

  .rd-main-header {
    font-size: 2.125rem;
  }

  .rd-third-section {
    padding: 1.25rem;
    border-radius: 1.5rem;
  }

  .rd-third-header {
    font-size: 2.125rem;
  }

  .rd-td-main-container {
    grid-template-columns: none;
    gap: 1rem;
  }
}