@media (max-width: 800px) {
  .dr-second-section,
  .dr-eco-container {
    grid-template-columns: none;
  }

  .dr-second-section {
    gap: 2rem;
    margin-block: 2rem 4rem;
  }

  .driver-image-container {
    max-width: 100%;
  }

  .dr-main-header {
    font-size: 2.125rem;
  }

  .dr-third-section {
    padding: 1.25rem;
    border-radius: 1.5rem;
  }

  .dr-third-header {
    font-size: 2.125rem;
  }

  .dr-td-main-container {
    grid-template-columns: none;
    gap: 1rem;
  }
}